html {
    background-color: #eee;
}

body {
		margin: 10px;
		padding: 10px;
	}

td.element {
	margin: 10px;
	padding: 10px;
	border: dotted 2px #668014;
}

#c1, #t1 {
    color: blue;
}

#c2, #t2 {
    color: red;
}

#check1, #check2 {
    align: center;
}

/* Your CSS here */
